Source: paycon
Section: utils
Priority: optional
Maintainer: wdl1908 <wdlbit@linux-lovers.be>
Build-Depends: debhelper (>= 9.0.0),
 devscripts,
 libqt4-dev,
 qt4-qmake,
 libdb++-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libboost-thread-dev,
 libboost-test-dev,
 libssl-dev,
 libminiupnpc-dev,
 libqrencode-dev
Standards-Version: 1.0.1
Homepage: https://bitcointalk.org/index.php?topic=912034.0
Vcs-Git: https://github.com/muddafudda/PayCon.git

Package: paycon-qt
Architecture: any-amd64 any-i386 any-arm
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PayCon wallet GUI
 Peer-to-Peer cryptocurrency with Proof-of-Stake.

Package: paycond
Architecture: any-amd64 any-i386 any-arm
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PayCon daemon
 Peer-to-Peer cryptocurrency with Proof-of-Stake.
